input {
    display: block;
    margin: 10px auto;
    height: 25px;
    width: 300px;
    border-radius: 5px;
    padding-left: 20px;
}

button {
    height: 25px;
    cursor: pointer;
    margin: 0 75px;
}